*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

.container-100{
     width: 100%;
    
}

.container-80{
     width: 80%;
     margin: 0 auto;
}
.container-70{
     width: 70%;
     margin: 0 auto;
}
.container-60{
     width: 60%;
     margin: 0 auto;
}
.container-55{
     width: 55%;
     margin: 0 auto;
}






.col-30{
     width: 30%;
}
.col-33{
     width: calc(100% / 3 );
}
.col-40{
     width: 40%;
}
.col-70{
     width: 70%;
}
.col-60{
     width: 60%;
}
.col-100{
     width: 100%;
}




.row{
     width: 100%;
     flex-wrap: wrap;
     
}











.d-flex{
     display: flex;
}
.sp-between{
     justify-content: space-between;
}
.js-center{
     justify-content: center;
}
.center{
     justify-content: center;
     align-items: center;
}
.column{
     flex-direction: column;
}
.wrap{
     flex-wrap: wrap;
}





.border{
     border: 1px solid rgba(153, 152, 152, 0.512);
}
.min-h{
min-height: 600px;
}
.pdng-30{
     padding: 30px;
}




h1{
     font-size: 80px;
}
ul > li{
     padding: 20px;
}

ul{
     list-style: none;
}
img{
     max-width: 100%;
   
}
.brand-img{
     width: 50%;
     
    
}




.square{
     width: 50%;
     height: 15vw;

}


.bg-verde-acqua{
     background-color: rgb(92, 207, 168);
}
.bg-bordo{
     background-color: rgb(136, 0, 0);
}
.bg-azzurro{
     background-color: rgb(0, 157, 255);
}

.bg-rosso{
     background-color: red;
}
.bg-rossoscuro{
     background-color: rgb(208, 0, 0);
}
.bg-celeste{
     background-color: rgb(160, 212, 255);
}
.bg-blu{
     background-color: blue;
}
.bg-giallo{
     background-color: yellow;
}
.bg-grigio{
     background-color: rgb(207, 207, 207);
}